* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
   
}

header {
    /* background-color: hsl(208, 100%, 30%); */
    /* Buscando cosas del hsl encontré lo de linear gradient y lo quise probar */
    background-image: linear-gradient(to top right, hsl(208, 83%, 25%), hsl(208, 75%, 22%));
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 12vh;
    justify-content: space-between;
    padding-top: 0;
    width: 100%;
    position: fixed;
    z-index: 5;


}

header a {
    text-decoration: none;
    color: hsl(189, 90%, 30%);

}

#slogan {
    font-size: 3vw;
    font-size: 3.5vh;
}

/* EFECTO PARA EL SLOGAN SACADO DE CODEPEN */

h1 div {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.nosotros {
    animation: showup 7s linear;
}

.vosDisfrutas {
    width: 0;
    animation: reveal 7s forwards;
}

.vosDisfrutas span {

    animation: slidein 7s forwards;
}

@keyframes showup {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }

    20% {
        margin-left: -800px;
    }

    35% {
        margin-left: 0;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }

    20% {
        opacity: 1;
        width: 0px;
    }

    30% {
        width: 160px;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        width: 160px;
    }
}


/* FIN EFECTO PARA EL SLOGAN */


.logo {
    background-color: transparent;
    padding: 0;
    width: 80%;
    margin: 0;


}

.logoYSlogan {
    text-decoration: none;
    color: hsl(189, 90%, 30%);
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 1.5vh;
    padding: 0;
    height: 12vh;

}

.menu {
    width: 50%
}

.menu-container {
    padding: 0 1px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1 rem;
    font-weight: bold;
}

.menu-container-link {
    font-size: 1.1vw;
}

.menu-container-link:hover {
    color: white;
}

/* USANDO LIBRERIA DE HOVER.CSS */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: white;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
    right: 0;
}



.principal {

    /* background-color:hsl(208, 60%, 70%);  */
    background-image: linear-gradient(to bottom, hsl(208, 83%, 25%), hsl(208, 37%, 62%));
    background-size: cover;
    height: 100vh;

}



.container-bannerMundial {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    width: 100%;
    background-image: linear-gradient(to right, hsl(300, 94%, 13%), hsl(300, 96%, 21%));
    padding-top: 12vh;
    height: 24vh;
    margin: 0%;

}

.container-bannerMundial a {
    text-decoration: none;
    font-size: 4vh;
    color: white;

}

.container-link:hover {
    transform: scale(1.2);

}

.container-link {
    transition: all 1s;
}

.menu-banner-link:hover {
    color: rgb(184, 44, 44);

}


.logoCopa {
    width: 5%;
    transition: all 1s;
    position: relative;
    z-index: 5;
}

.logoCopa img {
    width: 100%;
}

.logoCopa:hover {

    transform: scale(1.2);
    cursor: pointer;

}

.escudoAfa {
    width: 5%;
    transition: all 1s;
    position: relative;
    z-index: 5;
}

.escudoAfa img {
    width: 100%;
}

.escudoAfa:hover {

    transform: scale(1.2);
    cursor: pointer;


}


.paquetes {
    display: flex;
    align-items: center;
    gap: 0.1vw;
    padding-top: 1vh;
    /* flex-wrap: wrap; */
}

.imagen-londres {
    width: 100%;
    height: 35vh;
    border-radius: 10% 0 0 10%;
    transition: all 1s;
}

.imagen-londres:hover {
    transform: scale(1.2);
    border-radius: 10% 10% 10% 10%;
}

.imagen-paris {
    width: 100%;
    height: 35vh;
    border-radius: 0 10% 10% 0;
    transition: all 1s;
}

.imagen-paris:hover {
    transform: scale(1.2);
    border-radius: 10%;
}

.container-paquetesNacionales {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.container-tituloPaquetesNacionales {

    width: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
}

.tituloPaquetes {
    text-align: center;
    font-size: 2vw;
    color: whitesmoke;

}

.container-paquetesInternacionales {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;

}

.container-tituloPaquetesInternacionales {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
}



.imagen-cataratas {
    width: 100%;
    height: 35vh;
    border-radius: 10% 0 0 10%;
    transition: all 1s;

}

.imagen-cataratas:hover {
    transform: scale(1.2);
    border-radius: 10% 10% 10% 10%;
}

.imagen-jujuy {
    width: 100%;
    height: 35vh;
    border-radius: 0 10% 10% 0;
    transition: all 1s;
}

.imagen-jujuy:hover {
    transform: scale(1.2);
    border-radius: 10% 10% 10% 10%;
}

.imagenMundial2022 {
    width: 100%;
    height: 20vh;
}


/* PAGINA MUNDIAL 2022 */
.fondoMundial {
    background-image: url(images/fondoMundial.jpeg);
    background-repeat: no repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    padding-top: 12vh;
}

.container-paquetesMundial {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.1vw;
    position: relative;
    width: 100%;
    height: 80VH;
    flex-wrap: wrap;

}

.paqueteBronce {

    width: 30%;
    height: 50vh;
    position: absolute;
    left: 5%;
    border-radius: 10% 0 0 10%;
}

.imagen-bronce {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10% 0 0 10%;
    transition: all 1s;
    z-index: 1;
}

.imagen-plata {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 1s;

}

.imagen-Oro {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0% 10% 10% 0%;
    transition: all 1s;

}


.paquetePlata {

    height: 50vh;
    width: 30%;
    position: absolute;
}

.paqueteOro {
    height: 50vh;
    width: 30%;
    position: absolute;
    right: 5%;
    border-radius: 0% 10% 10% 0%;

}

.container-tituloPaqueteBronce {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.container-tituloPaquetePlata {

    position: absolute;
    z-index: 3;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.container-tituloPaqueteOro {

    position: absolute;
    z-index: 3;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}



.container-parrafoBronce {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
}

.parrafoBronce {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0.126) 50%, white);
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 1s;
    border-radius: 0% 0% 10% 10%;
    bottom: 0;
    z-index: 3;
    padding-top: 40vh;
}

.tituloPaqueteBronce {
    text-align: center;
    font-size: 2vw;
    color: #CD7F32;
    transition: all 1s;

}


.paqueteBronce:hover .imagen-bronce {

    transform: scale(1.2);
    cursor: pointer;
    opacity: 0.3;
    border-radius: 10%;
}

.paqueteBronce:hover .parrafoBronce {
    transform: scale(1.2);
    opacity: 1;
    cursor: pointer;
    border-radius: 10%;
}

.paqueteBronce:hover .tituloPaqueteBronce {

    transform: translateY(130px);
    color: hsl(30, 61%, 25%);

}

.container-parrafoPlata {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
}

.parrafoPlata {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0.126) 50%, white);
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 1s;
    border-radius: 0% 0% 10% 10%;
    bottom: 0;
    z-index: 3;
    padding-top: 40vh;
}

.tituloPaquetePlata {
    text-align: center;
    font-size: 2vw;
    color: hsl(0, 0%, 65%);
    transition: all 1s;

}


.paquetePlata:hover .imagen-plata {

    transform: scale(1.2);
    cursor: pointer;
    opacity: 0.3;
    border-radius: 10%;
}

.paquetePlata:hover .parrafoPlata {
    transform: scale(1.2);
    opacity: 1;
    cursor: pointer;
    border-radius: 10%;
}

.paquetePlata:hover .tituloPaquetePlata {

    color: hsl(0, 0%, 30%);
    transform: translateY(130px);
    opacity: 1;

}

.container-parrafoOro {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
}

.parrafoOro {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0.126) 50%, white);
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 1s;
    border-radius: 0% 0% 10% 10%;
    bottom: 0;
    z-index: 3;
    padding-top: 40vh;
}

.tituloPaqueteOro {
    text-align: center;
    font-size: 2vw;
    color: gold;
    transition: all 1s;

}


.paqueteOro:hover .imagen-Oro {

    transform: scale(1.2);
    cursor: pointer;
    opacity: 0.3;
    border-radius: 10%;
}

.paqueteOro:hover .parrafoOro {
    transform: scale(1.2);
    opacity: 1;
    cursor: pointer;
    border-radius: 10%;
}

.paqueteOro:hover .tituloPaqueteOro {

    transform: translateY(130px);
    color: hsl(30, 61%, 25%);

}

/* FIN PÁGINA MUNDIAL*/

.container-crucero {
    display: flex;
    justify-content: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: relative;

}

.container-tituloCruceros {
    position: absolute;
    top: 0%;
    z-index: 3;
}



.fondoNacionales {
    padding-top: 12vh;
    background-image: linear-gradient(to bottom, hsl(208, 83%, 25%), hsl(208, 37%, 62%));
    height: 100vh;


}

/* PÁGINA INTERNACIONALES */
.fondoInternacionales {
    padding-top: 12vh;
    background-image: linear-gradient(to bottom, hsl(208, 83%, 25%), hsl(208, 37%, 62%));
    height: 100vh;
}

.container-Internacionales {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin-left: 4vw;
    padding: 5px;

}

.container-europa1 {
    grid-area: 1 / 1 / 2 / 4;
}

.container-europa2 {
    grid-area: 1 / 5 / 2 / 8;
}

.container-europa3 {
    grid-area: 1 / 9 / 2 / 12;
}

.container-europa4 {
    grid-area: 2 / 3 / 3 / 6;
}

.container-europa5 {
    grid-area: 2 / 7 / 3 / 10;
}

.containerInternacionales {
    height: 39vh;
    width: 50vh;
    position: relative;

}

.container-europa1 {
    border-radius: 5%;
    position: relative;
}

.container-parrafoEuropa {

    position: relative;
    z-index: 3;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.parrafoInternacionales {
    position: relative;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0.126) 50%, white);
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 1s;
    border-radius: 0% 0% 10% 10%;
    z-index: 4;
    /* bottom: 0; */
    padding-top: 34vh;
    font-weight: bold;
}


.imagenEuropa1 {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    transition: all 1s;
}

.imagenEuropa2 {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5%;
    transition: all 1s;
    opacity: 0;
}

.container-europa2 {
    border-radius: 5%;

}

.container-tituloPaqueteInternacional {

    width: 100%;
    position: absolute;
    top: 0;
    z-index: 4;
}

.tituloPaqueteInternacional {
    text-align: center;
    font-size: 2vw;
    color: rgb(227, 214, 214);
    transition: all 1s;

}

.tituloPaqueteInternacional2 {
    text-align: center;
    font-size: 2vw;
    color: hsl(189, 90%, 30%);
    transition: all 1s;

}

.container-parrafoUsa {

    position: relative;
    z-index: 3;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.imagenUsa {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    transition: all 1s;
}

.imagenUsa2 {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5%;
    transition: all 1s;
    opacity: 0;
}

.container-europa3 {
    border-radius: 5%;
}

.imagenSudesteAsiatico {

    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    transition: all 1s;
}

.imagenSudesteAsiatico2 {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5%;
    transition: all 1s;
    opacity: 0;
}

.container-parrafoSudesteAsiatico {
    position: relative;
    z-index: 3;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}


.container-europa4 {
    border-radius: 5%;
}

.imagenRio {

    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    transition: all 1s;

}

.imagenRio2 {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5%;
    transition: all 1s;
    opacity: 0;
}

.container-parrafoRio {
    position: relative;
    z-index: 3;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.container-europa5 {
    border-radius: 5%;
}

.imagenMachu {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    transition: all 1s;
}

.imagenMachu2 {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5%;
    transition: all 1s;
    opacity: 0;
}

.container-parrafoMachu {
    position: relative;
    z-index: 3;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.container-europa1:hover .imagenEuropa1 {

    transform: scale(1.2);
    cursor: pointer;
    opacity: 0.1;
    border-radius: 5%;
    z-index: 2;
}

.container-europa1:hover .parrafoInternacionales {
    transform: scale(1.2);
    opacity: 1;
    cursor: pointer;
    border-radius: 5%;
}

.container-europa1:hover .imagenEuropa2 {
    transform: scale(1.2);
    cursor: pointer;
    opacity: 0.3;
    border-radius: 5%;
    z-index: 4;
}

.container-europa2:hover .imagenUsa {

    transform: scale(1.2);
    cursor: pointer;
    opacity: 0.1;
    border-radius: 10%;
    z-index: 3;
}

.container-europa2:hover .imagenUsa2 {
    transform: scale(1.2);
    cursor: pointer;
    opacity: 0.3;
    border-radius: 5%;
    z-index: 4;
}

.container-europa2:hover .parrafoInternacionales {
    transform: scale(1.2);
    opacity: 1;
    cursor: pointer;
    border-radius: 5%;
}

.container-europa3:hover .imagenSudesteAsiatico {

    transform: scale(1.2);
    cursor: pointer;
    opacity: 0.3;
    border-radius: 5%;
    z-index: 3;
}
.container-europa3:hover .imagenSudesteAsiatico2 {
    transform: scale(1.2);
    cursor: pointer;
    opacity: 0.3;
    border-radius: 5%;
    z-index: 4;
}

.container-europa3:hover .parrafoInternacionales {
    transform: scale(1.2);
    opacity: 1;
    cursor: pointer;
    border-radius: 5%;
}

.container-europa4:hover .imagenRio {

    transform: scale(1.2);
    cursor: pointer;
    opacity: 0.3;
    border-radius: 5%;
    z-index: 3;
}

.container-europa4:hover .imagenRio2 {
    transform: scale(1.2);
    cursor: pointer;
    opacity: 0.3;
    border-radius: 5%;
    z-index: 4;
}

.container-europa4:hover .parrafoInternacionales {
    transform: scale(1.2);
    opacity: 1;
    cursor: pointer;
    border-radius: 5%;
}

.container-europa5:hover .imagenMachu {

    transform: scale(1.2);
    cursor: pointer;
    opacity: 0.3;
    border-radius: 5%;
    z-index: 3;
}

.container-europa5:hover .imagenMachu2 {
    transform: scale(1.2);
    cursor: pointer;
    opacity: 0.3;
    border-radius: 5%;
    z-index: 4;
}

.container-europa5:hover .parrafoInternacionales {
    transform: scale(1.2);
    opacity: 1;
    cursor: pointer;
    border-radius: 5%;
}





.fondoCruceros {

    padding-top: 12vh;
    background-image: linear-gradient(to bottom, hsl(208, 83%, 25%), hsl(208, 37%, 62%));
    height: 100vh;
}

.fondoContacto {
    padding-top: 12vh;
    background-image: linear-gradient(to bottom, hsl(208, 83%, 25%), hsl(208, 37%, 62%));
    height: 100vh;
}

.imagenPrincipalCrucero {
    height: 33vh;
    border-radius: 10% 0 0 10%;
    transition: all 1s;

}

.imagenPrincipalCrucero:hover {
    transform: scale(1.2);
    border-radius: 10% 10% 10% 10%;
}

.imagenSecundariaCrucero {
    height: 33vh;
    border-radius: 0 10% 10% 0;
    transition: all 1s;

}

.imagenSecundariaCrucero:hover {
    transform: scale(1.2);
    border-radius: 10% 10% 10% 10%;
}

footer a {
    text-decoration: none;
    color: hsl(189, 100%, 32%);
}

.menuFooter-container {
    /* background-color: hsl(208, 100%, 80%); */
    background-image: linear-gradient(to bottom, hsl(208, 83%, 25%), hsl(208, 63%, 38%));
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: space-around;

}

.menuFooter {
    display: flex;
    text-decoration: none;
    list-style: none;
    width: 100vh;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.5rem;

}

.menuFooterLink:hover {
    color: white;
}

.fa-brands {
    font-size: 5vh;
}