@import "../base/colores";
@import "../base/extends";
@import "../base/mixins";


.fondoInternacionales {
    
    padding-bottom: 9vh;
    
}

.container-Internacionales {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 30px 0 0;
    /* display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin-left: 4vw;
    padding: 5px; */
    
}

.containerInternacionales {
    height: 35vh;
    width: 50vh;
    position: relative;
    margin:20px 40px;
   
    
}

.container-europa1 {
    border-radius: 5%;
    position: relative;
}

.container-parrafoEuropa {

    position: absolute;
    z-index: 3;
    width: 100%;
    height: auto;
    bottom: 0;
    // top: 0;
    // left: 0;
}

.parrafoInternacionales {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0.126) 50%, white);
    opacity: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 1s;
    border-radius: 0% 0% 10% 10%;
    z-index: 4;
    /* bottom: 0; */
    // padding-top: 34vh;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
}


.imagenEuropa1, .imagenUsa, .imagenSudesteAsiatico, .imagenRio, .imagenMachu {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    transition: all 1s;
    object-fit: cover;
  }

  .imagenEuropa2, .imagenUsa2, .imagenSudesteAsiatico2, .imagenRio2, .imagenMachu2 {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5%;
    transition: all 1s;
    opacity: 0;
    object-fit: cover;
  }

.container-europa2, .container-europa3, .container-europa4, .container-europa5 {
    border-radius: 5%;

}

.container-tituloPaqueteInternacional {

    width: 100%;
    position: absolute;
    top: 0;
    z-index: 4;
}

.tituloPaqueteInternacional {
    @include titulo (center, 4vh, white, all 1s);

}

.tituloPaqueteInternacional2 {
    @include titulo (center, 4vh, $colorfondo1, all 1s);

}

.container-parrafoUsa {

    position: absolute;
    z-index: 3;
    width: 100%;
    height: auto;
    bottom: 0;
    // top: 0;
    // left: 0;
}


.container-parrafoSudesteAsiatico {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: auto;
    bottom: 0;
    
}


.container-parrafoRio {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: auto;
    bottom: 0;
    transition: 1s;
}

.container-parrafoMachu {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: auto;
    bottom: 0;
    transition: 1s;
}

.container-europa1:hover .imagenEuropa1, .container-europa1:hover .imagenEuropa2 {
    transform: scale(1.2);
    cursor: pointer;
    opacity: 0.1;
    border-radius: 5%;
    z-index: 2;
  }
  
  .container-europa1:hover .parrafoInternacionales, .container-europa2:hover .parrafoInternacionales, .container-europa3:hover .parrafoInternacionales, .container-europa4:hover .parrafoInternacionales, .container-europa5:hover .parrafoInternacionales{
    transform: scale(1.2);
    opacity: 1;
    cursor: pointer;
    border-radius: 5%;
    transform: translateY(-100px);
    font-size: bolder;
  }
  
  .container-europa2:hover .imagenUsa, .container-europa2:hover .imagenUsa2{
    transform: scale(1.2);
    cursor: pointer;
    opacity: 0.1;
    border-radius: 10%;
    z-index: 3;
  }
  
  .container-europa3:hover .imagenSudesteAsiatico, .container-europa3:hover .imagenSudesteAsiatico2, .container-europa4:hover .imagenRio, .container-europa4:hover .imagenRio2, .container-europa5:hover .imagenMachu, .container-europa5:hover .imagenMachu2{
    transform: scale(1.2);
    cursor: pointer;
    opacity: 0.1;
    border-radius: 5%;
    z-index: 3;
  }


